  <div id="edit-container">

  <div id="modal2-edit-header" contenteditable="true">{{page.header}}</div>

  <div id="modal2-edit-subheader" contenteditable="true">{{page.subHeader}}</div>

  <div class="row">
    <div id="modal2-edit-column-header1" class="col-xs-6" contenteditable="true">{{page.columnHeader1}}</div>

      <div id="modal2-edit-column-header2" class="col-xs-6" contenteditable="true">{{page.columnHeader2}}</div>
  </div> <!-- End of row div. -->

  <div class="row">
    <div id="modal2-edit-about" class="col-xs-6" contenteditable="true">{{page.pageContent}}</div>

      <div id="modal2-edit-more" class="col-xs-6" contenteditable="true">{{page.pageContentMore}}</div>
  </div> <!-- End of row div. -->

  <div id="modal2-edit-footer">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <div id="modal2-edit-contact" contenteditable="true">{{page.contact}}</div>
  </div>
  </div>
