  <div id="edit-container">

  <div id="template-2-header" contenteditable="true">{{page.header}}</div>

  <div id="template-2-sub-header" contenteditable="true">{{page.subHeader}}</div>

<div class="row">
  <div id="template-2-about" class="col-xs-6" contenteditable="true">{{page.pageContent}}</div>

    <div id="template-2-more" class="col-xs-6" contenteditable="true">{{page.pageContentMore}}</div>
</div> <!-- End of row div. -->

  <div id="template-2-footer">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <div id="template-2-email" contenteditable="true">{{page.contact}}</div>
  </div>
  </div>
